*{
    padding: 0px;
    margin: 0px;
}
header {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav li a:hover{
    background-color: #434343;
}
nav > ul > li {
    float: left;
}
nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
nav li:hover > ul {
    display: block;
}
/*para los sub meus dentro del sub menu, esto se cambia a relative para poder ponerlos al lado
del primer sub menu*/
nav li ul li {
    position: relative;
}
nav li ul li ul {
    right: -140px;
    top:0px;
}
